body{
margin:0;
background:black;
color:white;
font-family:Arial;
text-align:center;
}

.intro{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}

button{
padding:15px 35px;
font-size:20px;
cursor:pointer;
border:none;
border-radius:10px;
}

.game{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

.hidden{
display:none;
}
